/* https://css-tricks.com/building-css-grid-overlay/ */

$grid-color: hsla(0, 75%, 75%, 0);
$grid-repeating-width: calc(100% / #{$columns});
$grid-column-width: calc((100% / #{$columns}) - #{$gutter});
$grid-background-width: calc(100% + #{$gutter});
$grid-background-columns: repeating-linear-gradient(
to right,
$grid-color,
$grid-color $grid-column-width,
transparent $grid-column-width,
transparent $grid-repeating-width 
);


html {
    position: relative;
}

html::before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin-right: auto;
    margin-left: auto;

    width: calc(100% - (2 * #{$offset}));
    max-width: $max-width;
    min-height: 100vh;
    background-image: $grid-background-columns;
    background-size: $grid-background-width 100%;
    z-index: 1000;
    pointer-events: none;
}